<h1>All Results</h1>

{{!-- {{theUser._id}} --}}
<div class="all-results">
  {{!======================= ALL TEAMS =======================}}
  <section class="all-teams admin-section">
    {{#each results}}

      <a href="/team/team-detail/{{this._id}}">{{this.teamName}}</a>
      team code:
      {{this.teamCode}}
      <br />
      <h4>Full Time Players</h4>
      <br />
      {{#each playersFullTime}}

        <a href="/player/player-details/{{this._id}}">
          {{this.name}}
          {{this.lastName}}
        </a>
        <br />
      {{/each}}
      <br />
      <h4>Part Time Players</h4>
      <br />
      {{#each playersPartTime}}

        <a href="/player/player-details/{{this._id}}">
          {{this.name}}
          {{this.lastName}}
        </a>
        <br />
      {{/each}}

      <br />
      <br />
    {{/each}}
  </section>

  {{!======================= ALL PLAYERS =======================}}

  <section class="all-players admin-section">
    {{#each results}}

      <a href="/player/player-details/{{this._id}}">
        {{this.name}}
        {{this.lastName}}
        {{this.jerseyNumber}}
      </a>
      <br />
      <form action="/auth/admin/delete-player/{{this._id}}" method="POST">

        <button type="submit">Delete</button>
      </form>

      {{!-- <a href="/team/team-detail/{{this._id}}">{{this.name}}
        {{this.jerseyNumber}}</a> --}}
      {{!-- {{this}} --}}
      <br />
      <br />
    {{/each}}
  </section>

  {{!======================= ALL GAMES =======================}}

  <section class="all-games admin-section">
    {{#each results}}

      <div class="game-container-all">
        <a href="/game/game-details/{{this._id}}">
          <div class="game-container-details-hover"></div></a>

        <div class="game-container-details">

          <div class="teams-container">

            <div class="team">
              <img
                src="https://ssl.gstatic.com/onebox/media/sports/logos/iBFLyMGpOW2Fh5j8s7kYpw_48x48.png"
                alt=""
              />
              <a
                href="/team/team-detail/{{this.homeTeam._id}}"
              >{{this.homeTeam.teamName}}</a></div>
            <div class="team"><img
                src="https://ssl.gstatic.com/onebox/media/sports/logos/iBFLyMGpOW2Fh5j8s7kYpw_48x48.png"
                alt=""
              />
              <a
                href="/team/team-detail/{{this.awayTeam._id}}"
              >{{this.awayTeam.teamName}}</a>
            </div>
          </div>
          <div class="divider-line"></div>
          <div class="game-date"><img src="" alt="" />{{this.date}}
            <br />{{this.time}}</div>
        </div>

        {{!-- <a href="/team/team-detail/{{this._id}}">{{this.date}}
      {{this.time}}
      {{this.homeTeam.teamName}}
      VS
      {{this.awayTeam.teamName}}</a> --}}
        {{! <br /> }}
      </div>

    {{/each}}

  </section>

  {{!======================= ALL USERS =======================}}

  <section class="all-users admin-section">
    {{#each results}}

      <a href="/auth/user-details/{{this._id}}">{{this.username}}
      </a>{{#if this.admin}} - ⭐ ADMIN{{/if}}
      <br />
    {{/each}}
  </section>

</div>
<br />
<br />

<a href="/auth/add-teams/{{theUser._id}}">Add Teams</a>