<h1>User Profile - {{user.firstname}} {{user.lastname}}</h1>

<a href="/auth/update-profile/{{user._id}}">Edit Profile</a>

{{!-- {{#each theUser}}
  {{this}}
  <br />
{{/each}} --}}

<hr />
<hr />

<h1>Teams you Manage</h1>

{{#each user.ownedTeams}}

  <a href="/team/team-detail/{{this._id}}">{{this.teamName}}</a>

  <br />

  <form action="/auth/remove-owned-team/{{this._id}}" method="POST">

    <button type="submit">Remove</button>
  </form>

  <br />

{{/each}}
<br />
{{#if errorMessageManage}}
  {{errorMessageManage}}
{{/if}}
<a href="/auth/add-teams/{{theUser._id}}">Add Team to manage</a>

<br /><br />
<h1>Teams you Joined</h1>

{{#each user.joinedTeams}}

  <a href="/team/team-detail/{{this._id}}">{{this.teamName}}</a>

  <br />

  <form action="/auth/remove-joined-team/{{this._id}}" method="POST">

    <button type="submit">Remove</button>
  </form>

  <br />

{{/each}}
<br />
{{#if errorMessageJoin}}
  {{errorMessageJoin}}
{{/if}}
<a href="/auth/join-teams/{{theUser._id}}">Join a Team</a>
<br />