<h1>Edit Profile - {{user.firstname}} {{user.lastname}}</h1>

{{!-- {{#each theUser}}
  {{this}}
  <br />
{{/each}} --}}

<form action="/auth/update-profile" method="POST">
  <label>
    First Name
    <input type="text" name="firstname" value={{user.firstname}} />
  </label>
  <br />
  <label>
    Last Name
    <input type="text" name="lastname" value={{user.lastname}} />
  </label>
  <br />
  <label>
    Phone Number
    <input type="text" name="phonenumber" value={{user.phonenumber}} />
  </label>
  <br />

  <br />
  <label>
    Email
    <input type="email" name="email" value={{user.email}} />
  </label>
  <br />

  {{! <label>
    Password
    <input type="password" name="password" />
  </label>
  <br /> }}

  <button type="submit">Update User</button>
</form>