<h1>User Details - {{user.firstname}} {{user.lastname}} </h1>

{{user.phonenumber}}
<br />
{{user.email}}
<br />
<br />

{{#if master}}

  {{#if user.admin}}
    <form action="/admin/admin-removal/{{user._id}}" method="POST">
      <button type="submit">Remove Admin</button>
    </form>
  {{else}}
    <form action="/admin/admin-request/{{user._id}}" method="POST">
      <button type="submit">Make Admin</button>
    </form>
  {{/if}}

  <a href="/admin/update-user/{{user._id}}">Edit User Data</a>
{{/if}}

{{!-- {{#each theUser}}
  {{this}}
  <br />
{{/each}} --}}

<hr />
<hr />

<h1>User's Teams</h1>

{{#each user.teams}}

  <a href="/team/team-detail/{{this._id}}">{{this.teamName}}</a>

  <br />

  <form action="/auth/remove-team/{{this._id}}" method="POST">

    <button type="submit">Remove</button>
  </form>

  <br />

{{/each}}
<br /><br />

{{!-- <a href="/auth/add-teams/{{theUser._id}}">Add Teams</a> --}}