<h1>User Profile - {{user.firstname}} {{user.lastname}} </h1>

{{#if master}}

  {{#if user.admin}}
    <form action="/auth/admin-removal/{{user._id}}" method="POST">
      <button type="submit">Remove Admin</button>
    </form>
  {{else}}
    <form action="/auth/admin-request/{{user._id}}" method="POST">
      <button type="submit">Make Admin</button>
    </form>
  {{/if}}

{{/if}}

{{!-- {{#each theUser}}
  {{this}}
  <br />
{{/each}} --}}

<hr />
<hr />

<h1>Your Teams</h1>

{{#each user.teams}}

  <a href="/team/team-detail/{{this._id}}">{{this.teamName}}</a>

  <br />

  <form action="/auth/remove-team/{{this._id}}" method="POST">

    <button type="submit">Remove</button>
  </form>

  <br />

{{/each}}
<br /><br />

<a href="/auth/add-teams/{{theUser._id}}">Add Teams</a>