<h1>All Teams</h1>

{{#if data.currentlyLoggedInUser.master}}

  <form class="admin" action="/team/delete-all" method="POST">
    <button type="submit">DELETE ALL</button>
  </form>

{{/if}}

{{#if data.currentlyLoggedInUser.admin}}
  <a class="admin" href="/team/create-team">Create Team</a>
{{/if}}

{{!-- {{theUser._id}} --}}
<div class="all-results">
  {{!======================= ALL TEAMS =======================}}
  <section class="all-teams admin-section">
    {{#each data.teamsFromDB}}
      {{!-- {{#each results}} --}}
      <a href="/team/team-detail/{{this._id}}">{{this.teamName}}</a>
      <br />
      manage code:
      {{this.ownCode}}
      <br />
      join code:
      {{this.joinCode}}
      <br />
      <h4>Full Time Players</h4>
      <br />
      {{#each playersFullTime}}

        <a href="/player/player-details/{{this._id}}">
          {{this.name}}
          {{this.lastName}}
        </a>
        <br />
      {{/each}}
      <br />
      <h4>Part Time Players</h4>
      <br />
      {{#each playersPartTime}}

        <a href="/player/player-details/{{this._id}}">
          {{this.name}}
          {{this.lastName}}
        </a>
        <br />
      {{/each}}

      <br />
      <br />
      {{!-- {{/each}} --}}
    {{/each}}
  </section>

</div>
<br />
<br />

{{!-- <a href="/auth/add-teams/{{theUser._id}}">Add Teams</a> --}}