<h1>All Results</h1>

{{!-- {{theUser._id}} --}}
<div class="all-results">

  {{!======================= ALL GAMES =======================}}

  <section class="all-games-admin-section">
    {{#each results}}

      <div class="game-container-all">
        <a href="/game/game-details/{{this._id}}">
          <div class="game-container-details-hover"></div></a>

        <div class="game-container-details">

          <div class="teams-container">

            <div class="team">
              <img
                src="https://ssl.gstatic.com/onebox/media/sports/logos/iBFLyMGpOW2Fh5j8s7kYpw_48x48.png"
                alt=""
              />
              <a
                href="/team/team-detail/{{this.homeTeam._id}}"
              >{{this.homeTeam.teamName}}</a></div>
            <div class="team"><img
                src="https://ssl.gstatic.com/onebox/media/sports/logos/iBFLyMGpOW2Fh5j8s7kYpw_48x48.png"
                alt=""
              />
              <a
                href="/team/team-detail/{{this.awayTeam._id}}"
              >{{this.awayTeam.teamName}}</a>
            </div>
          </div>
          <div class="divider-line"></div>
          <div class="game-date"><img src="" alt="" />{{this.date}}
            <br />{{this.time}}</div>
        </div>

        {{!-- <a href="/team/team-detail/{{this._id}}">{{this.date}}
      {{this.time}}
      {{this.homeTeam.teamName}}
      VS
      {{this.awayTeam.teamName}}</a> --}}
        {{! <br /> }}
      </div>

    {{/each}}

  </section>

</div>
<br />
<br />

{{!-- <a href="/auth/add-teams/{{theUser._id}}">Add Teams</a> --}}