<h1>All Players</h1>

{{#if currentlyLoggedInUser.master}}

  <form class="admin" action="/player/delete-all" method="POST">
    <button type="submit">DELETE ALL</button>
  </form>
{{/if}}

{{!-- {{theUser._id}} --}}
<div class="all-results">

  {{!======================= ALL PLAYERS =======================}}

  <section class="all-players admin-section">
    {{#each results}}

      <a href="/player/player-details/{{this._id}}">
        {{this.name}}
        {{this.lastName}}
        {{this.jerseyNumber}}
      </a>
      <br />
      <form action="/admin/delete-player/{{this._id}}" method="POST">

        <button type="submit">Delete</button>
      </form>

      {{!-- <a href="/team/team-detail/{{this._id}}">{{this.name}}
        {{this.jerseyNumber}}</a> --}}
      {{!-- {{this}} --}}
      <br />
      <br />
    {{/each}}
  </section>

</div>
<br />
<br />

{{!-- <a href="/auth/add-teams/{{theUser._id}}">Add Teams</a> --}}