<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{!-- {{#each division}} --}}
<div class="filter-ul">
  <ul>

    <li data-searchdata="all"> <a>All</a></li>
    <li data-searchdata="Over40"> <a>40+</a></li>
    <li data-searchdata="AB"> <a>A/B</a></li>
    <li data-searchdata="C1"> <a>C1</a></li>
    <li data-searchdata="Plat"> <a>C2 Platinum</a></li>
    <li data-searchdata="Gold"> <a>C2 Gold</a></li>
    <li data-searchdata="Silver"> <a>C2 Silver</a></li>
    <li data-searchdata="Bronze"> <a>C2 Bronze</a></li>
  </ul>
</div>

{{!-- {{/each}} --}}
<input type="text" name="search" id="search" placeholder="Search..." />
<div class="full-table">

  <div class="table-head">
    <li class="column-division">Div</li>
    <li class="column-homeTeam">Home</li>
    <li class="column-awayTeam">Away</li>
    <li class="column-date">Date</li>
    <li class="column-time">Time</li>
    <li class="column-location">Rink/GS</li>
  </div>

  <div id="allGames">

    {{!-- {{#season}}
      <tr class="date-container">
        <td class="table-dates">{{gameday}}</td>
      </tr>
      {{#games}}
        <tr class="game-container {{this.division}}">
          <td class="gameInfo">{{this.division}}</td>
          <td class="gameInfo"><a href="#">{{this.homeTeam.teamName}}</a></td>
          <td class="gameInfo"><a href="#">{{this.awayTeam.teamName}}</a></td>
          <td class="gameInfo" align="center">{{this.date}}</td>
          <td class="gameInfo">{{this.time}}</td>
          <td class="gameInfo">{{this.location}}</td>

        </tr>
      {{/games}}

    {{/season}} --}}

    {{#season}}
      <div class="date-container">
        <li class="table-dates">{{gameday}}</li>
      </div>
      {{#games}}

        {{! OLD CODE KEEP FOR NOW }}
        <div class="game-container {{this.division}}">
          <li class="game-info column-division">{{this.division}}</li>
          <li class="game-info column-homeTeam"><a
              href="/team/team-detail/{{this.homeTeam.id}}"
            >{{this.homeTeam.teamName}}</a></li>
          <li class="game-info column-awayTeam"><a
              href="/team/team-detail/{{this.awayTeam.id}}"
            >{{this.awayTeam.teamName}}</a></li>
          <li class="game-info column-date" align="center">{{this.date}}</li>
          <li class="game-info column-time">{{this.time}}</li>
          <li class="game-info column-location">{{this.location}}</li>

        </div>

        {{! OLD CODE KEEP FOR NOW }}

        {{! CREATE LOCATION AND DIVISION }}

        {{!-- <div>
          <a href="/game/game-details/{{this._id}}">
            <div class="game-container-details-hover"></div></a>

          <div class="game-container-details">

            <div class="teams-container">

              <div class="team game-info column-homeTeam">
                <img
                  src="https://ssl.gstatic.com/onebox/media/sports/logos/iBFLyMGpOW2Fh5j8s7kYpw_48x48.png"
                  alt=""
                />
                <a
                  href="/team/team-detail/{{this.homeTeam._id}}"
                >{{this.homeTeam.teamName}}</a></div>
              <div class="team game-info column-awayTeam"><img
                  src="https://ssl.gstatic.com/onebox/media/sports/logos/iBFLyMGpOW2Fh5j8s7kYpw_48x48.png"
                  alt=""
                />
                <a
                  href="/team/team-detail/{{this.awayTeam._id}}"
                >{{this.awayTeam.teamName}}</a>
              </div>
            </div>
            <div class="divider-line"></div>
            <div class="game-date game-info column-date"><img
                src=""
                alt=""
              />{{this.date}}
              <br />{{this.time}}</div>
          </div>

        </div> --}}
      {{/games}}

    {{/season}}

  </div>
</div>