<h1>Bench Buddy</h1>
{{! <p>Welcome Ironhacker!</p> }}

{{!-- {{#each division}} --}}
<div class="games-filter">

  <h3>Select Division</h3>
  <select name="games-filter" id="gamesFilter">
    <option value="all">All</option>
    <option value="Over40">40+</option>
    <option value="AB">A/B</option>
    <option value="C1">C1</option>
    <option value="Plat">C2 Platinum</option>
    <option value="Gold">C2 Gold</option>
    <option value="Silver">C2 Silver</option>
    <option value="Bronze">C2 Bronze</option>
  </select>
</div>
<br />
<br />

{{!-- {{/each}} --}}
<input type="text" name="search" id="search" placeholder="Search..." />
<br />
<hr />
<br />

<div id="allGames">

  {{#each data.gamesFromDB}}

    <div class="game-day-container" data-gamedaydate="{{gameday}}">

      <div class="date-container">
        <h3>{{gameday}}</h3>
      </div>
      <div class="games-of-day-container">
        {{#each games}}

          <a href="/game/game-details/{{this._id}}" class="game-container-link">

            <div class="game-container {{this.division}}">

              <div class="game-description">
                <div class="game-description-teams">
                  <h3
                    class="game-info column-homeTeam"
                  >{{this.homeTeam.teamName}}</h3>
                  {{! <h5>VS</h5> }}
                  <h3
                    class="game-info column-awayTeam"
                  >{{this.awayTeam.teamName}}</h3>
                </div>
                <div class="game-description-datetime">
                  <h4 class="game-info column-date">{{this.date}}</h4>
                  <h4 class="game-info column-time">{{this.time}}</h4>
                </div>
              </div>

              <div class="division-location">

                <h4 class="game-info">Division: {{this.division}}</h4>

                <h4 class="game-info">Rink: {{this.location}}</h4>
              </div>

            </div>
          </a>

        {{/each}}
      </div>
    </div>

  {{/each}}

</div>