<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{!-- {{#each division}} --}}

<a class="filter-buttons" data-searchdata="all">All</a>
<a class="filter-buttons" data-searchdata="Over40">40+</a>
<a class="filter-buttons" data-searchdata="AB">A/B</a>
<a class="filter-buttons" data-searchdata="C1">C1</a>
<a class="filter-buttons" data-searchdata="Plat">C2 Platinum</a>
<a class="filter-buttons" data-searchdata="Gold">C2 Gold</a>
<a class="filter-buttons" data-searchdata="Silver">C2 Silver</a>
<a class="filter-buttons" data-searchdata="Bronze">C2 Bronze</a>

{{!-- {{/each}} --}}
<br />
<br />
<input type="text" name="search" id="search" placeholder="Search..." />
<br />

<table width="90%" border="1" cellspacing="1" cellpadding="3">

  <thead>
    <tr class="fields">
      <td width=".10vh" align="left">Div</td>
      <td width=".25vh" align="left">Home</td>
      <td width=".25vh" align="left">Away</td>
      <td width=".30vh">Date</td>
      <td width=".10vh">Time</td>
      <td nowrap="" align="right" width=".21vh">Rink/GS</td>
    </tr>
  </thead>

  <tbody id="allGames">

    {{#each games}}

      <tr class="game-container {{this.division}}">
        <td class="gameInfo">{{this.division}}</td>
        <td class="gameInfo"><a href="#">{{this.homeTeam.teamName}}</a></td>
        <td class="gameInfo"><a href="#">{{this.awayTeam.teamName}}</a></td>
        <td class="gameInfo" align="center">{{this.date}}</td>
        <td class="gameInfo">{{this.time}}</td>
        <td class="gameInfo">{{this.location}}</td>

      </tr>

      {{!-- <li></li>
    <div class="game-container {{this.division}}">

      <b>Division: </b>{{this.division}}
      <br />
      <b>Game Date: </b>{{this.date}}
      <br />
      <b>Game Time: </b>{{this.time}}
      <br />
      <b>Home Team: </b>
      {{this.homeTeam.teamName}}
      <br />
      <b>Away Team: </b>
      {{this.awayTeam.teamName}}
    </div> --}}
    {{/each}}
  </tbody>
</table>