<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bench Buddy</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/all-results.css" />
    <link rel="stylesheet" href="/stylesheets/game-details.css" />
  </head>
  <body>
    <header>
      <a class="logo" href="/">
        <img src="/images/nav-logo.png" alt="" />
      </a>
      <nav>
        <div id="menu-button">=</div>
        <ul>
          <li><a href="/">Home</a></li>

          <li><a href="/game/all-games">All Games</a></li>
          {{#if theUser}}
            {{!-- <li><a href="/auth/your-teams/{{theUser._id}}">Your Teams</a></li> --}}
            <li><a href="/auth/profile">Profile</a></li>
            <li><a href="/auth/logout">Log Out</a></li>

          {{else}}
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/auth/login">Log In</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    {{#if errorMessage}}
      <div class="error-div">
        {{errorMessage}}
      </div>
    {{/if}}

    {{#if successMessage}}
      <div class="success-div">
        {{successMessage}}
      </div>
    {{/if}}
    {{#if theUser.admin}}

      <div class="admin" id="admin-routes">

        <h3>Admin Routes</h3>

        <ul class="admin-buttons">

          <li><a
              class="admin-filter-buttons"
              data-adminfilter="all-teams"
              href="/admin/all-teams"
            >All Teams</a></li>
          <li><a
              class="admin-filter-buttons"
              data-adminfilter="all-players"
              href="/admin/all-players"
            >All Players</a></li>
          <li><a
              class="admin-filter-buttons"
              data-adminfilter="all-games"
              href="/admin/all-games"
            >All Games</a></li>
          <li><a
              class="admin-filter-buttons"
              data-adminfilter="all-users"
              href="/admin/all-users"
            >All Users</a></li>
          <li><a
              class="admin-filter-buttons"
              href="/season/create-season"
            >Create Season</a></li>
        </ul>

      </div>
    {{/if}}

    {{{body}}}
    <div class="overlay">

    </div>
    <div id="side-menu">
      <ul>
        <p id="close-side-menu">X</p>
        <hr />
        <br />
        <li><a href="/">Home</a></li>
        <li><a href="/game/all-games">All Games</a></li>
        {{#if theUser}}
          {{!-- <li><a href="/auth/your-teams/{{theUser._id}}">Your Teams</a></li> --}}
          <li><a href="/auth/profile">Profile</a></li>
          <li><a href="/auth/logout">Log Out</a></li>

        {{else}}
          <li><a href="/auth/signup">Sign Up</a></li>
          <li><a href="/auth/login">Log In</a></li>
        {{/if}}
        <br />
      </ul>
    </div>
    {{#if theUser.admin}}
      <a href="#" id="admin-routes-button">Admin Routes</a>
    {{/if}}
    <script src="/js/script.js"></script>
    <script src="/js/all-games.js"></script>

  </body>

</html>