<h1>Add Teams To Your Account</h1>

{{theUser.teams}}

<ul>
  {{#each teams}}
    <li>all teams</li>
  {{/each}}
</ul>

<form action="/locations/{{locationID}}/addAnimals" method="post">

  {{#each myAnimals}}
    <br />
    <div>

      <input type="checkbox" value={{id}} name="animalID" checked="checked" />

      {{name}}
      -
      {{species}}

    </div>
    <br />
    <hr />
  {{/each}}

  {{#each otherAnimals}}
    <br />
    <div>

      <input type="checkbox" value={{id}} name="animalID" />

      {{name}}
      -
      {{species}}

    </div>
    <br />
    <hr />
  {{/each}}

  <button type="submit">Confirm</button>

</form>