{{#if data.currentlyLoggedInUser.admin}}
  <a class="admin" href="/team/edit-team/{{#each data.teamsFromDB}}{{this.id}}{{/each}}">Edit Team</a>
{{else}}

{{/if}}
{{#each data.teamsFromDB}}


  <h1 class="teamDetailsName">{{this.teamName}} - Team Details</h1>

  <div class="allPlayers">
<div>
  <h3>All Players</h3> -  <a href="/player/add-players/{{this.id}}">Add Players</a>
  </div>



  <div class="playersFullTimeDiv">

  <h4>Full Time Players</h4>

  {{#each this.playersFullTime}}
    {{!-- {{this._id}} --}}
    <a href="/player/player-details/{{this._id}}" class="playerTeamDetailsView"><li>
                {{this.jerseyNumber}}
                {{this.name}}
                {{this.lastName}}</li></a>
    
  {{/each}}

  <br />
  {{!-- <form action="/team/invite-all/{{thisTeam.id}}" method="POST">

    <button type="submit">Invite All To Next Game</button>
  </form> --}}
  </div>

  <div class="playersFullTimeDiv">

  <h4>Part Time Players</h4>

  {{#each this.playersPartTime}}
    {{!-- {{this._id}} --}}
    <a href="/player/player-details/{{this.id}}">

      {{this.name}}
      {{this.lastName}}
      {{this.jerseyNumber}}
    </a>
  {{/each}}
  </div>
  </div>

  <br />
  <br />


{{/each}}


  <h3>=== Schedule ===</h3>
  <br />

{{!-- {{/each}} --}}
<input type="text" name="search" id="search" placeholder="Search..." />
<br />
<hr />
<br />

<div id="allGames">

  {{#each data.gamesFromDB}}

    <div class="game-day-container" data-gamedaydate="{{gameday}}">

      <div class="date-container">
        <h3>{{gameday}}</h3>
      </div>
      <div class="games-of-day-container">
        {{#each games}}

          <a href="/game/game-details/{{this._id}}" class="game-container-link">

            <div class="game-container {{this.division}}">

              <div class="game-description">
                <div class="game-description-teams">
                  <h3
                    class="game-info column-homeTeam"
                  >{{this.homeTeam.teamName}}</h3>
                  <h3 class="vs">VS</h3>
                  <h3
                    class="game-info column-awayTeam"
                  >{{this.awayTeam.teamName}}</h3>
                </div>
                <div class="game-description-datetime">
                  <h4 class="game-info">{{this.date}}
                    -
                    {{this.time}}</h4>

                </div>
              </div>

              <div class="division-location">

                <h4 class="game-info">Division: {{this.division}}</h4>

                <h4 class="game-info">Rink: {{this.location}}</h4>
              </div>

            </div>
          </a>

        {{/each}}
      </div>
    </div>

  {{/each}}

</div>
  </div>
