{{#if data.currentlyLoggedInUser.admin}}
  <a class="admin" href="/team/edit-team/{{#each data.teamsFromDB}}{{this.id}}{{/each}}">Edit Team</a>
{{else}}

{{/if}}
{{#each data.teamsFromDB}}


  <h1 class="teamDetailsName">{{this.teamName}} - Team Details</h1>

  <div class="allPlayers">
<div>
  <h3>All Players</h3> -  <a href="/player/add-players/{{this.id}}">Add Players</a>
  </div>



  <div class="playersFullTimeDiv">

  <h4>Full Time Players</h4>

  {{#each this.playersFullTime}}
    {{!-- {{this._id}} --}}
    <a href="/player/player-details/{{this._id}}" class="playerTeamDetailsView"
    
      data-jerseyNumber={{this.jerseyNumber}}
      data-name={{this.name}}
      data-lastName={{this.lastName}}
      data-emailAddress={{this.emailAddress}}
      data-phoneNumber={{this.phoneNumber}}



><li>
                {{this.jerseyNumber}}
                {{this.name}}
                {{this.lastName}} - Full Time</li></a>
    
  {{/each}}

  
  <h4>Part Time Players</h4>

  {{#each this.playersPartTime}}
    {{!-- {{this._id}} --}}
    <a href="/player/player-details/{{this._id}}" class="playerTeamDetailsView"
    
      data-jerseyNumber={{this.jerseyNumber}}
      data-name={{this.name}}
      data-lastName={{this.lastName}}
      data-emailAddress={{this.emailAddress}}
      data-phoneNumber={{this.phoneNumber}}



><li>
                {{this.jerseyNumber}}
                {{this.name}}
                {{this.lastName}} - Part Time</li></a>
  {{/each}}
  </div>
  <div>
    <div id="playerDataCardTeamPage">

    <div id="playerNamePic">
      <h1>Wayne Gretzky</h1>
      <img id="profile-picture" src="" alt="" />
    </div>

    <div id="playerData">
      <br />
      <h1 id="jerseyNumber">#99</h1>
      <br />
      <h3 id="emailAddress">WallyGretzky@gmail.com</h3>
      <br>
      <h3 id="phoneNumber">8001234567</h3>

      <br />

      <br />

      {{!-- {{this}} --}}
    </div>
  </div>
  </div>
  </div>

  <br />
  <br />


{{/each}}


  <h3>=== Schedule ===</h3>
  <br />

{{!-- {{/each}} --}}
<input type="text" name="search" id="search" placeholder="Search..." />
<br />
<hr />
<br />

<div id="allGames">

  {{#each data.gamesFromDB}}

    <div class="game-day-container" data-gamedaydate="{{gameday}}">

      <div class="date-container">
        <h3>{{gameday}}</h3>
      </div>
      <div class="games-of-day-container">
        {{#each games}}

          <a href="/game/game-details/{{this._id}}" class="game-container-link">

            <div class="game-container {{this.division}}">

              <div class="game-description">
                <div class="game-description-teams">
                  <h3
                    class="game-info column-homeTeam"
                  >{{this.homeTeam.teamName}}</h3>
                  <h3 class="vs">VS</h3>
                  <h3
                    class="game-info column-awayTeam"
                  >{{this.awayTeam.teamName}}</h3>
                </div>
                <div class="game-description-datetime">
                  <h4 class="game-info">{{this.date}}
                    -
                    {{this.time}}</h4>

                </div>
              </div>

              <div class="division-location">

                <h4 class="game-info">Division: {{this.division}}</h4>

                <h4 class="game-info">Rink: {{this.location}}</h4>
              </div>

            </div>
          </a>

        {{/each}}
      </div>
    </div>

  {{/each}}

</div>
  </div>
