<h1>Game Details</h1>

<a href="/game/edit-game/{{game._id}}">Edit Game</a>
<br />

{{game.homeTeam.teamName}}
<br />
{{game.awayTeam.teamName}}
<br />
{{game.date}}
<br />
{{game.time}}
<br />
{{game.location}}
<br />
{{game.division}}
<br />