<h1>Player Details</h1>

{{#each data.playersFromDB}}
  {{this.name}}
  {{this.lastName}}
  <br />
  {{this.jerseyNumber}}
  <br />
  {{this.emailAddress}}
  <br />
  {{this.phoneNumber}}
  <br />
  {{#each this.joinedTeams}}
    <a href="/admin/team-details/{{this.id}}">{{this.teamName}}</a>
    <br />
  {{/each}}
  {{!-- {{this}} --}}
{{/each}}
{{!-- {{data.currentlyLoggedInUser.admin}} --}}
{{#if data.currentlyLoggedInUser.admin}}

  {{#each data.playersFromDB}}

    <h1>ADMIN</h1>
    <a href="/player/edit-player/{{this.id}}">Edit Player</a>
  {{/each}}
{{else}}
  <h1>NO ADMIN</h1>
{{/if}}